@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:bold');
@import url('https://fonts.googleapis.com/css?family=Montserrat:bold');

#titleEcho {
  font-family: "Noto Sans";
}

#BtnSignUp {
  font-family: 'Montserrat';
}
nav {
  @apply inline-block w-screen space-x-4 px-3;
}

body {
  @apply bg-gradient-to-bl from-violet-600 to-violet-900 text-white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.error {
  @apply border-solid border-red-600;
}

input {
  @apply w-full p-2 border border-gray-400 rounded focus:outline-none focus:border-blue-500 bg-indigo-950;
}

.navbarbtn {
  @apply font-bold rounded-full w-20 h-8 mx-1 mt-1 sm:w-24 md:text-base md:h-10 md:w-28 md:mx-2 lg:text-lg lg:w-32 lg:h-12 lg:mt-2;
}

.main-paragraph {
  @apply text-sm sm:text-base md:text-xl md:px-10 self-center
}

.placeholder {
  @apply text-sm sm:text-base px-5 md:px-10 md:text-xl pb-6
}